body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
}

h1#logo{
  width: 150px;
  height: 150px;
  background: url(../img/profile.png);
  text-indent: -999em;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 0;
  display: inline-block;
}

#profile {
  height: 420px;
  background: url(../img/profile-background.png) repeat-x bottom #ecf0f1;
}

#profile .wrapper {
  width: 980px;
  position: relative;
  margin: 0 auto;
}

#profile h2 {
  font-size:60px;
  margin-top: 20px;
  color: #34495e;
  font-weight: 100;
}

#profile h2 span {
  color: #2ecc71;
  font-weight: 300;
}

#profile h3 {
  font-size: 20px;
  color: #34495e;
}

#git-cheat {
  height: 500px;
  background: url(../img/git-background.gif) no-repeat bottom center #2c3e50;
  overflow: hidden;
}

#git-cheat .wrapper {
  width: 980px;
  position: relative;
  margin: 0 auto;
}

#git-cheat h2 {
  font-size:40px;
  margin-top: 20px;
  color: #3498db;
  font-weight: 100;
  display: inline-block;
}

#git-cheat h3 {
	color: #FFF;
}

#git-cheat h3 a {
	color: #f1c40f;
}

#git-cheat .sheet {
	width: 475px;
	height: 500px;
	display: block;
  position: absolute;
  box-shadow: 0px 0px 3px #555;
}

#git-cheat .git-cheat-1 {
	background: url(../img/git-cheat-1.jpg);
	top: 150px;
	left: 210px;
}

#git-cheat .git-cheat-2 {
	background: url(../img/git-cheat-2.jpg);
	top: 260px;
	left: 300px;
}

#webgoal {
  height: 500px;
  background: #ecf0f1;
  overflow: hidden;
}

#webgoal h2 {
  font-size:40px;
  margin-top: 20px;
  color: #666;
  font-weight: 100;
  display: inline-block;
}

#webgoal h3 {
  color: #7f8c8d;
}

#webgoal h3 a {
  color: #A0CB3B;
}

#webgoal .webgoal-logo {
  width: 850px;
  height: 445px;
  display: inline-block;
  background: url(../img/webgoal-logo.png);
  margin: 40px 0;
}

#blog {
  height: 400px;
  background: url(../img/blog-background.gif) repeat;
}

#blog h2 {
  font-size:40px;
  margin-top: 20px;
  color: #666;
  font-weight: 100;
  display: inline-block;
}

#blog h2 span {
  color: #e74c3c;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}

#blog h3 {
  color: #666;
}

#blog h3 a {
  color: #e74c3c;
}

#blog .blog-logo {
  width: 237px;
  height: 188px;
  display: inline-block;
  background: url(../img/blog-logo.png);
  margin: 40px 0;
}

#footer {
  height: 250px;
  background: #27ae60;
}

#footer .badge {
  width: 128px;
  height: 128px;
  display: inline-block;
  text-indent: -999em;
  margin: 60px 20px;
}

#footer .github {
  background: url(../img/github-icon.png);
}

#footer .twitter {
  background: url(../img/twitter-icon.png);
}
