<div class="row">
  <section class="header">
    <div class="brand">
      <a href="/" title="Rafael Valério"><img src="/assets/logo.svg" /></a>
    </div>
    <div class="menu">
      <ul>
        {% for page_item in site.pages %}
          {% if page_item.title %}
            <li><a href="{{page_item.permalink}}" {% if page.url contains page_item.permalink %}class="active"{% endif %}>{{page_item.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
