.blog {
  width: 750px;
  margin: 0 auto;

  section.header {
    margin: 20px 0;
    padding: 0;

    .brand {
      float: left;
      margin: 20px 0;

      img {
        width: 80px;
      }
    }

    .menu {
      float: right;

      a {
        @extend .button;
        width: 200px;
        text-align: center;
        margin-top: 35px;
        margin-right: 0;
      }
    }
  }

  @include media-query($on-mobile) {
      width: 100%;
  }

  .post-list {
    .post-link {
      color: #3498db;
      font-family: 'Bitter', serif;
      font-size: 1.5em;
      font-weight: 400;

      &:hover {
        text-decoration: none;
        color: lighten(#3498db, 15);
      }
    }

    .post-meta {
      font-size: 0.8em;
      color: #777;
    }

    .excerpt {
      font-size: 0.9em;
      text-align: justify;
    }

    .separator {
      height: 1px;
      background: #ccc;
      margin: 30px auto;
      width: 30%;
    }
  }

  .post {
    .post-header {
      .post-title {
        color: #3498db;
        font-family: 'Bitter', serif;
        font-size: 2em;
        font-weight: 400;
      }

      .post-meta {
        font-size: 0.8em;
        color: #888;
      }
    }

    .post-content {
      p {
        font-size: 0.9em;
        padding: 0;
        margin: 0 0 20px;
        text-align: justify;
      }

      img {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}
